*{
    box-sizing: border-box;
    outline: none;
}
body{
    margin: 0;
}
.parent{
    border: 2px solid black;
    width: 600px;
}
.child{
    border: 2px solid red;
    width: 200px;
    height: 200px;
}